.button_text{
    text-decoration:none;
    color:white;
    font-family: Kavoon, cursive;
    transition: ease 0.5s;
    &:hover{
        color: black;
    }
}
.buttonDown{
    background-color:#687790;
    border-radius:4px solid black;
    text-align: center;
    width: 140px;
    padding:10px;
    transition: ease 0.5s;
}
.buttonDown:hover{
    box-shadow: 5px 5px 0cap 0 rgb(9, 20, 9);
}
.closeBut{
    text-align: center;
    padding: 10px;
    width: 160px;
    background-color: black;
    opacity:0.5;
    color:#FFFF;
    border-radius:none;
    transition: ease 0.5s;
&:hover{
    color:black;
    background-color: #687790;
    opacity:100%;
    box-shadow: 5px 5px 0cap 0 rgb(9, 20, 9);
    border-radius: none;
}
}
.line_Gradinient{
    width:100%;
    height:2px;
    background-color:#00FF00;
}