.burger_meny {
  cursor: pointer;
  width: 40px;
  height: 30px;
}

.burger_meny div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.burger_meny span {
  width: 30px;
  height: 3px;
  background: black;
  transition: 0.3s;
}

/* Когда active */
.burger_meny.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger_meny.active span:nth-child(2) {
  opacity: 0;
}

.burger_meny.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
.active_Https{
  display: none;
}
.active_Https.active{
  display:block;
  position: absolute;
  background-color:#0B0E0F;
  opacity:0.90;
  width:18%;
  text-align:center;
  padding:1px;
  cursor: pointer;
}
